body{
    margin: 0;
    background-color: white;
}
body, html {
    height: 100%;
}
.background{
    height: 655px;
    /* background: linear-gradient(90deg, #DACFAA 50%, #345167 50%); */
    background-image: url('BLUE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
    align-items: center;
}

input{
    /* position: absolute; */
width: 32vw;
height: 3.2vw;
/* left: 463px;
top: 333px; */
border: 0;
background: #ffffff;
border-radius: 13px;
font-size: 20px;
padding-left: 10px;
margin-bottom: 15px;
}

.search-btn{
    /* position: absolute; */
width: 12.6vw;
height: 2.9vw;
/* left: 596px;
top: 400px; */
border: 0;
background: #E38210;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-size: 1.5vw;
/* line-height: 28px; */
color: white;
}

.name{
    /* position: absolute; */
/* width: 407px;
height: 142px; */
/* left: 479px;
top: 0px; */
text-align: center;
font-family: Rozha One;
font-style: normal;
font-weight: normal;
font-size: 5.5vw;
text-align: center;
color: #EAEAEA;
/* offset: none; */
margin-top: 100px;
margin-bottom: 25px;
}

/****search results****/


.background2{
    /* background-color: #DACFAA; */
    background-image: url('GRAY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
}

.nav-bar{
    width: 100%;
    height: 7.2vw;
    /* background-color: #345167; */
    background-image: url('BLUE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.web-name{
    font-size: 3.7vw;
    margin: 0;
    text-align: center;
    padding-top: 1.5vw;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5vw 0 1.5vw 0;
    /* margin: 1.5vw 0 1.5vw 0; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.container > div{
    width: 60%;
    height: 11vw;
    overflow: hidden;
    background-color:  #ffffff;
    border-bottom: 1px solid black;
}

.single{
    display: flex;
}

.search-img{
    height: 9.5vw;
    width: 9.5vw;
    border-radius: 50%;
    vertical-align: middle; 
    /* border: 2px solid black; */
    margin: 0.7vw 0.7vw 0px 0.7vw;
}


.link{
    width: 66%;
    font-size: 1.7vw;
    text-decoration: black;
    /* position: relative; */
    /* bottom: 6.6vw;
    left: 11vw; */
    color: black;
    display: flex;
    align-items: center;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}

button{
    cursor: pointer;
}

.cont{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.error{
    /* width: 427px;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); */
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    color: #B60000;
    vertical-align: middle;
}

.error > span{
    font-size: 36px;
}

.err-con{
    width: 427px;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-btn{
    background: #B60000;
    /* border-radius: 20px; */
    border: none;
    width: 172px;
    height: 40px;
    margin-top: 20px;
    color: white;
}

/****** single ******/

#root{
    height: 100%;
}

html, body{
    height: 100%;
}

.background3{
    display: flex;
    justify-content: center;
    background-image: url('GRAY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    /* position: absolute; */
    width: 67vw;
    /*height: 800px; */
    left: 17%;
    background: #ffffff;
    margin: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.single-img{
    position: relative;
    width: 25vw;
    height: 26vw;
    /* left: 55%; */
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
} 

.img-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2{
    text-align: center;
    font-size: 2.6vw;
    margin: 30px 20px 20px 20px;
}

h6{
    text-align: center;
    margin: 5px;
    color: #606060;
    font-size: 1vw;
}

.ingredients{
    line-height: 2vw;
    font-size: 1.5vw;
    /* margin-top: 10px; */
    font-weight: 400;
}

.list{
    /* width: 490px; */
    margin-top: 30px;
}